<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="form-container">
         <h2>Login</h2>
         <form method="POST" action="signup" enctype="multipart/form-data">
           {% csrf_token %}
             <input type="text" id="login" name="login" placeholder="Username or E-mail" required>

             <input type="password" name="password" id="pwd" placeholder="Enter password" required>
             
            <!-- <input type="file" name="profile-pic" id="profile-pic">-->
             <button type="submit">Login</button>
             <p>Don't have an account?<a href="signUp.html">SignUp</a></p>
         </form>
    </div>
</body>
</html>