<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="form-container">
         <h2>Create account</h2>
         <form method="POST" action="/signup" enctype="multipart/form-data">
           {% csrf_token %}
             <input type="text" id="firstname" name="firstname" placeholder="First name"required >
             
             <input type="text" id="surname"  name="surname" placeholder="Last name" required >
             <input type="text" id="username" name="username" placeholder="Username" required >

             <input type="date" name="dob" id="dob" placeholder="Date of Birth" required>
             
             <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
             </select>
            
             <input type="email" id="email" name="email" placeholder="E-mail" required>

             <input type="password" name="password" id="pwd" placeholder="Create password" required>
             <input type="password" name="comfirm-Password" id="pwd" placeholder="Comfirm password" required>
            <!-- <input type="file" name="profile-pic" id="profile-pic">-->
             <button type="submit">SignUp</button>
             <p>Already have an account?<a href="login.html">Login</a></p>
         </form>
    </div>
</body>
</html>